@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><Monkeys></h1>
    <p>Say hello <a href="https://www.youtube.com/watch?v=mBBhaRMxsn8">to monkeys</a>.</p>
</div>
